<!DOCTYPE html>
<html>
  <head>
    <title>注册</title>
  </head>

  <body>
    <h1>注册</h1>
    <form method="post">
      {{ form.csrf_token }}
      <label for="username">用户名</label>
      {{ form.username() }} {% if form.username.errors %}
      <ul>
        {% for error in form.username.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <label for="password">密码</label>
      {{ form.password() }} {% if form.password.errors %}
      <ul>
        {% for error in form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <label for="confirm_password">确认密码</label>
      {{ form.confirm_password() }} {% if form.confirm_password.errors %}
      <ul>
        {% for error in form.confirm_password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %} {{ form.submit() }}
    </form>
  </body>
</html>
