body {
  margin: auto;
  max-width: 800px;
  background-color: #eee;
  font-family: Arial, sans-serif;
  padding: 20px;
  align-items: center;
}

.alert {
  background-color: #ffc;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 6px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

h1 {
  text-align: center;
  padding-bottom: 0.3em;
  font-size: 2.2em;
  line-height: 1.2;
  margin: 2.4em auto 1.2em;
  color: #590009;
}

h1:after {
  content: "";
  display: block;
  margin: 0.2em auto 0;
  width: 100px;
  height: 2px;
  border-bottom: 2px solid #f22f27;
}

.btn {
  font-size: 12px;
  padding: 3px 5px;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid #555555;
  border-radius: 5px;
}

.btn:hover {
  text-decoration: none;
  background-color: black;
  color: white;
  border: 1px solid black;
}

h3,
.info {
  text-align: left;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  line-height: 1.43;
  margin: 2.4em auto 1.2em;
  color: #333;
  padding: 12px 24px;
  border-bottom: 1px solid #ddd;
}

.error {
  text-align: middle;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  line-height: 1.43;
  margin: 2.4em auto 1.2em;
  color: #333;
  padding: 12px 24px;
  border-bottom: 1px solid #ddd;
}

#progress {
  width: 0%;
  height: 5px;
  background-color: #007bff;
  transition: width 0.3s ease-in-out;
  border-radius: 25px;
}
