<!DOCTYPE html>
<html>
  <head>
    <title>主页</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
  </head>
  <body>
    <h1>语音转文字服务器</h1>
    {% with messages = get_flashed_messages(with_categories=true, category_filter=["error", "success"]) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">主页</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('signout') }}">登出</a></li>
            {% else %}
            <li><a href="{{ url_for('signin') }}">登录</a></li>
            <li><a href="{{ url_for('signup') }}">注册</a></li>
            {% endif %}
        </ul>
    </nav>
    <form action="http://localhost:5000/" method="POST" enctype="multipart/form-data">
    <input type="file" name="file"  />
    <input type="submit" value="提交" onclick="showMsg()" />
    <div class="info">
      {{ infer_info }}
    </div>
  </body>
</html>

<script>
  function showMsg(){
    alert("文件正在上传，请稍后...");
  }
</script>