<!DOCTYPE html>
<html>
  <head>
    <title>注册</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
      type="text/css"
    />
  </head>

  <body>
    <h1>语音转文字服务器</h1>
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">主页</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('signout') }}">登出</a></li>
        {% else %}
        <li><a href="{{ url_for('signin') }}">登录</a></li>
        <li><a href="{{ url_for('signup') }}">注册</a></li>
        {% endif %}
      </ul>
    </nav>
    <form method="post">
      {{ form.csrf_token }}
      <label for="username">用户名</label>
      {{ form.username() }} {% if form.username.errors %}
      <ul>
        {% for error in form.username.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <label for="password">密码</label>
      {{ form.password() }} {% if form.password.errors %}
      <ul>
        {% for error in form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <label for="confirm_password">确认密码</label>
      {{ form.confirm_password() }} {% if form.confirm_password.errors %}
      <ul>
        {% for error in form.confirm_password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %} {{ form.submit() }}
    </form>
  </body>
</html>
